html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

/* Conatiner */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
/* Flex */

.flex {
  display: flex;
}

.jcb {
  justify-content: space-evenly;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}
.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}
.flex-30 {
  flex: 0 1 31%;
}

/* General Styles */

  a {
    text-decoration: none;
  }

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
  }


/* Header */

header {
  background: linear-gradient(to right, rgb(108,183,210), rgb(157,125,250));
  padding: 1.5rem 0;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.heading {
  margin-top: .5rem;
}

input[type="search"] {
  padding: .4rem .75rem;
  border-radius: .3rem;
  border: 0;
  outline: 0;
}

.search:focus {
  border: 2px solid blue;
}

.mini-container {
  background-color: rgba(68, 246, 246, .5);
  padding: 1.5rem;
  text-align: center;
  margin: .5rem;
   height: 280px ; 
   border-radius: .5rem;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: .5rem 0;
}

.desc {
  font-weight: 500;
  /* margin-bottom: 1rem; */
}

.link {
  background-color: black;
  color: #fff;
  padding: .3rem 2rem;
  display: inline-block;
  margin: 1rem;
}

.houses {
  padding: 2rem 0;
}

.house {
  background-color: black;
  color: #fff;
  padding: .3rem 1rem;
  cursor: pointer;
}

.selected {
  background-color: red;
}