html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* my styles */
html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    color: rgb(232, 87, 87);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1rem;
    font-size: 2rem;
}
form{
    width: 40%;
    background-color: rgba(85, 230, 174, 0.807);
    border: 2px solid black;
    margin:1rem auto;
}
h2{
    color: white;
    background-color: skyblue;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;

}
.form-control{
    margin: 1rem;
}
input{
    padding: 0.5rem 2rem;
}
button{
    background-color: rgb(110, 210, 235);
    color: white;
    font-size: 1rem;
    border:0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem;
}